
/* * {
  text-decoration: none;
} */
a{
text-decoration: none;
color:black;
}
a:visited{
  text-decoration: none;
}

a:hover{
  color:lightsalmon;
}

.side{
  width:30%;
}

main{
width:700px;
display:flex

}

header{
  width:100%;
}


.App {
display:flex;
  text-align: center;
  flex-wrap:wrap;

}
  
  

body,html{
  height:100%;
} 

header a{
  color:black;
  text-decoration: none;
}

.note-list{
  width:60%;
list-style: none;
display:flex;
flex-wrap:wrap;

/* background:blue; */
}
.note-list-item{
  width:85%;
  border:2px solid black;

}

li{
  list-style-type: none;
}

main{
  display:flex;
  flex-wrap:wrap;
}

.folder-list{
  list-style: none;
  width:30%;
}

.folder-list li{
  width:inherit;
  border:2px solid black;
}

.selected li{
background:lightskyblue;
}

.filtered-folders{
  width:800px;
  border:2px solid black;
}